# Git* related files.
.git/
.github/
.gitignore

# Ignore tools, scripts, and deployments directories.
tools/
scripts/
deployments/

# IDE configurations.
.vscode/
.editorconfig

# Human-readable files.
LICENSE
README.md

# Docker files.
Dockerfile
.dockerignore

# Other files and directories.
.pytest_cache/
dist/
Makefile